body{
	background-color: #34495e;
	margin: 0;
	padding: 0;d
	font-family: sans-serif;

}
.box{
	width: 300px;
	padding: 40px;
	position: absolute; /* ini untuk mnegatur posisi kotak agar tetap pada posisi yang ditentukan pada top dan left*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #7f8c8d;
	text-align: center;
	 border: 1px outset blue;

}
.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #1abc9c;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
width: 280px;
border-color: #3498db;


}
.box input[type = "text"]:hover,.box input[type = "password"]:hover{
	background:  #f1c40f;
}
.box button[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;

}
.box button[type = "submit"]:hover{
	background: #f1c40f;
}